<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="icon" type="image/x-icon" href="assets/bigfoot.png" />
    <link rel="stylesheet" href="styles/styles.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="root">
      <!-- <div v-if="showBooks">
        <p>{{ title }}</p>
        <p>{{ name }}</p>
        <p>{{ age }}</p>
      </div>

      <button @click="toggleShowBooks()">
        <span v-if="showBooks">Hide Books</span>
        <span v-else>Show Books</span>
        <span v-if="!showBooks"></span>
      </button>

      <div v-show="showBooks">currently showing books</div> -->
      <video id="videoCam" @click="openWebCam()">Show Camera</video>
      <div>
        <button id="startButton" @click="openWebCam()">Start Stream</button>
        <button id="stopButton" @click="closeWebCam()">Stop Stream</button>
      </div>
    </div>

    <script src="js/app.js"></script>
  </body>
</html>
